html {
	overflow-x: hidden;
}

body {
	background-image: url('../img/bg.png'), linear-gradient(90deg, #b5e61d 50%, #f47980 50%);
	background-repeat: repeat-y;
	background-position: center top;
}

* {
  box-sizing: border-box;
}

.stakesubmit .btn {
	margin-left: 1px;
}

.stakelist .btn {
	margin: 1px;
}

.column {
  float: left;
  width: 50%;
  height: 100%;
  padding: 10px;
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.pear {
	font-family: Brush Script MT,cursive; 
	color: #00691e;
}

.steak {
	font-family: Brush Script MT,cursive; 
	color: #9c0e16;
}

.stakeTable {
	width:80%;
	margin: 0 auto;
	text-align: left;
}

.pearTotalSupply {
	border-style: solid;
	border-color: #00691e;
	background-color: #bdffd0; 
	padding: 10px;
	border-radius: 25px;
	position: absolute;
	left: 20px;
	top: 10px;
	font-weight: bold;
	text-align: left;
}

.steakTotalSupply {
	text-align: right;
	border-style: solid;
	border-color: #9c0e16;
	background-color: #ffb3b7; 
	padding: 10px;
	border-radius: 25px;
	position: absolute;
	right: 20px;
	top: 10px;
	font-weight: bold;
	text-align: right;
}

#pearImg {
    background:url('../img/pear.png');
	background-repeat: no-repeat;
	background-size: 250px;
	position: fixed;
	left: 25px;
	bottom: 25px;
    width: 250px;
    height: 350px; 
	z-index: -1;
}

#steakImg {
    background:url('../img/steak.png');
	background-repeat: no-repeat;
	background-size: 300px;
	position: fixed;
	right: 25px;
	bottom: 60px;
    width: 300px;
    height: 200px; 
	z-index: -1;
}

.infobutton {
	position: fixed;
	top: 75px;
	width: 100%;
	text-align: center;
}

.modal {
	display: none;
	position: fixed;
	z-index: 100;
	padding-top: 25px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; 
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.7); 
}

.modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}

.infotext {
	border-style: solid;
	border-color: #234882;
	background-color: #8fbaff; 
	padding: 25px;
	padding-top: 10px;
	border-radius:25px;
	width: 90%;
	/* display: table; */
	max-height: 95%;
	margin: 0 auto;
	font-family: Brush Script MT,cursive; 
	color: #234882;
	overflow-x: auto;
}


.infotext::-webkit-scrollbar {
	width: 8px;
	border-radius: 8px;
  }
  
.infotext::-webkit-scrollbar-track {
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 8px rgba(255,255,255,0); 
  } 
.infotext::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color: rgba(255,255,255,0.3); 
  }

.salesdiv {
	text-align: center;
	position: fixed;
	bottom: 30px;
	margin: auto;
	width: 100%;
}

.group {
	display: inline-block;
	text-align: center;
	border-style: solid;
	border-color: #234882;
	background-color: #8fbaff; 
	padding: 25px;
	padding-top: 10px;
	border-radius: 25px;
}

.group p {
	font-family: Brush Script MT,cursive; 
	color: #234882;
	font-weight: bold;
}

.group button {
	width: 100%;
}

.group input { 
    text-align: center; 
}
